header.masthead {
  margin-bottom: 50px;
  position: relative;
  background: no-repeat center center;
  background-color: #1d348b;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .line-bg {
  background: url("../images/line.png");
}

header.masthead .site-logo {
  height: 75px;
  position: absolute;
}

header.masthead .site-heading {
  padding-left: 80px;
  color: white;
}

header.masthead .site-heading h1 {
  margin-top: 0;

  font-variant: small-caps;
  font-size: 38px;
}

header.masthead .site-heading h1 .text-wide {
  letter-spacing: 1.9px;
  font-size: 40px;
}

header.masthead .site-heading .subheading {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.1;
  display: inline-block;
  margin: 10px 0 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .site-heading h1 {
    font-size: 38px;
  }
}
