.Nav {
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Nav .nav-item {
  height: 66px;
  line-height: 36px;
  flex-basis: calc(100% / 3);
  background-color: #1d348b;
}

.Nav .navbar-brand {
  font-weight: 800;
  color: #777777;
}

.Nav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #777777;
}

.Nav .navbar-nav {
  width: 100%;
  flex-wrap: wrap;
}

.Nav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .Nav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }

  .Nav .navbar-brand {
    padding: 15px 20px;
    color: white;
  }

  .Nav .navbar-brand:focus, .Nav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .Nav .navbar-nav > li.nav-item > a {
    padding: 15px 20px;
    color: white;
  }

  .Nav .navbar-nav > li.nav-item > a:focus, .Nav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1170px) {
  .Nav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; }
    .Nav.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -77px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9); }
      .Nav.is-fixed .navbar-brand {
        color: #333333; }
        .Nav.is-fixed .navbar-brand:focus, .Nav.is-fixed .navbar-brand:hover {
          color: #0085A1; }
      .Nav.is-fixed .navbar-nav > li.nav-item > a {
        color: #333333; }
        .Nav.is-fixed .navbar-nav > li.nav-item > a:focus, .Nav.is-fixed .navbar-nav > li.nav-item > a:hover {
          color: #0085A1; }
    .Nav.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); } }
